.nav{
  padding: 8px;
  background-color: #F4D03F;
  color: #17202A;
  text-align: center;
}

.nav li{
  display: inline;
}

.about{
  font-size: 20;
  font-family: sans-serif;
  font-weight: lighter;
}

.cute{
  float: right;
  margin: 10px;
}

.elegant {
  text-align: justify;
  color: #0F4CE9;
  text-transform: capitalize;
  background-color: #DEFFFC

}

.unimportant {
font-family: sans-serif;
color: #FFFFFF;
background-color: black;
text-align: center;
text-transform: capitalize;
display: inline-block;
margin: 15px;
border: 5px solid red;

}

.important {
  text-decoration: underline;


}

.really-bold {
  text-decoration: underline;
  text-decoration-color: #0A8619;

}
